In [1]:
import pandas as pd
import numpy as np

# Gathering Data to gether

In [2]:
his_price = pd.read_excel('./تاریخچه قیمت/فولاد.xlsx', skiprows=7)
his_price = pd.DataFrame(his_price)
his_price = his_price.drop(columns=['Unnamed: 0'])
his_price

,تاریخ میلادی,تاریخ شمسی,بازگشایی,بالاترین,پایین‌ترین,آخرین معامله,قیمت تعدیلی,پایانی,میزان تغییر,درصد تغییر,...,ارزش معاملات,سهام شناور,P/E-ttm,P/B,P/S,قدرت خرید حقیقی,درصد خالص حقیقی,خالص حقیقی,سرانه خرید حقیقی,سرانه فروش حقیقی
0,2023-09-20,1402-06-29,5610,5650,5530,5600,5600,5590,-,-,...,714668257920,0.35,6.056235,2.442775,2.550704,0.513377,-0.235058,-167939833360,141675886,275968341
1,2023-09-19,1402-06-28,5570,5620,5550,5610,5610,5600,40,0.007181,...,694572642810,0.35,6.06705,2.447137,2.555259,0.491781,-0.361196,-250976247200,151915264,308908107
2,2023-09-18,1402-06-27,5550,5610,5530,5560,5560,5570,-10,-0.001795,...,841007473450,0.35,6.012976,2.425326,2.532485,0.544154,-0.202299,-170251851340,163044191,299628496
3,2023-09-17,1402-06-26,5560,5660,5530,5560,5560,5570,-,-,...,462779827120,0.35,6.012976,2.425326,2.532485,0.645119,0.167476,77468456770,127903202,198263111
4,2023-09-13,1402-06-22,5560,5600,5530,5560,5560,5560,-,-,...,576948771280,0.35,6.012976,2.425326,2.532485,0.575247,0.191828,110582139440,133489747,232056382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,2013-08-28,1392-06-06,3410,3460,3408,3408,82.332975,3408,-141,-0.03973,...,31952178440,-,4.985393,1.979717,1.503716,0.389175,-,-15784457692,45809051,117706913
2425,2013-08-27,1392-06-05,3580,3720,3450,3470,83.830817,3549,-123,-0.034233,...,25963494620,-,5.07609,2.015733,1.531073,0.394523,-,1704383421,28233741,71640780
2426,2013-08-26,1392-06-04,3580,3599,3535,3590,86.729865,3593,-35,-0.009655,...,15781023145,-,5.251632,2.085442,1.58402,0.245898,-,-7466539648,19480363,79408840
2427,2013-08-25,1392-06-03,3630,3633,3598,3598,86.923135,3625,-50,-0.013706,...,15326274349,-,5.263335,2.090089,1.58755,0.469185,-,-4640386971,27864637,59354524
2428,2013-08-24,1392-06-02,3650,3650,3602,3627,87.623738,3648,-32,-0.008746,...,10496161398,-,5.305757,2.106935,1.600346,0.480011,-,-51892519,23121658,48145371

In [3]:
his_price.rename(columns={'تاریخ میلادی': 'Date'}, inplace=True)

In [4]:
his_price['Date'] = pd.to_datetime(his_price['Date'])

In [5]:
start_date = pd.to_datetime('2013-09-01')
end_date = pd.to_datetime('2023-08-31')
his_price = his_price[(his_price['Date'] >= start_date) & (his_price['Date'] <= end_date)]

In [6]:
his_price

,Date,تاریخ شمسی,بازگشایی,بالاترین,پایین‌ترین,آخرین معامله,قیمت تعدیلی,پایانی,میزان تغییر,درصد تغییر,...,ارزش معاملات,سهام شناور,P/E-ttm,P/B,P/S,قدرت خرید حقیقی,درصد خالص حقیقی,خالص حقیقی,سرانه خرید حقیقی,سرانه فروش حقیقی
13,2023-08-30,1402-06-08,5510,5730,5510,5610,5610,5620,-,-,...,708472236280,0.35,6.06705,2.447137,2.555259,1.231927,-0.146505,-103706371420,225026213,182661907
14,2023-08-29,1402-06-07,5630,5730,5520,5530,5530,5610,-50,-0.008961,...,739763385740,0.35,5.980532,2.41224,2.51882,0.889393,-0.12791,-94632335490,221670048,249237584
15,2023-08-28,1402-06-06,5590,5690,5480,5550,5550,5580,50,0.009091,...,929474239300,0.35,6.002162,2.420964,2.52793,0.915536,-0.111019,-103152661200,230548351,251817876
16,2023-08-27,1402-06-05,5340,5580,5270,5520,5520,5500,300,0.057471,...,1282123166740,0.35,5.969718,2.407878,2.514265,1.300384,0.077192,98986250000,314144582,241578309
17,2023-08-26,1402-06-04,5110,5310,5050,5260,5260,5220,260,0.052,...,801176126890,0.35,5.688535,2.294463,2.39584,1.725361,0.53536,428952435120,344203746,199496706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2418,2013-09-08,1392-06-17,3400,3495,3400,3470,83.830817,3460,-17,-0.004875,...,20548801770,-,5.07609,2.015733,1.531073,0.883681,-,4560166920,41531975,47173213
2419,2013-09-07,1392-06-16,3425,3430,3425,3425,82.743673,3487,-142,-0.039809,...,15009090951,-,5.010262,1.989593,1.511217,0.343969,-,-9650137531,21871008,63582991
2420,2013-09-04,1392-06-13,3480,3480,3452,3452,83.395959,3567,-143,-0.039777,...,5351076652,-,5.049759,2.005277,1.523131,0.16617,-,-872749600,31756288,191085223
2421,2013-09-03,1392-06-12,3696,3696,3550,3552,85.811833,3595,-18,-0.005042,...,16608868843,-,5.196044,2.063367,1.567254,0.553946,-,-2861705524,26219239,47450298
2422,2013-09-01,1392-06-10,3525,3621,3525,3621,87.478786,3570,139,0.03992,...,20080940943,-,5.29698,2.10345,1.597699,0.697659,-,2552996702,36913498,52943292

In [7]:
start_date = '2013-09-01'
end_date = '2023-08-31'
date_range = pd.date_range(start=start_date, end=end_date)
df = pd.DataFrame(date_range)
df.rename(columns={0 : 'Date'}, inplace=True)

In [8]:
df

           Date
0    2013-09-01
1    2013-09-02
2    2013-09-03
3    2013-09-04
4    2013-09-05
...         ...
3647 2023-08-27
3648 2023-08-28
3649 2023-08-29
3650 2023-08-30
3651 2023-08-31

[3652 rows x 1 columns]

In [9]:
df = pd.merge(df , his_price, on='Date', how='outer')

In [10]:
df

,Date,تاریخ شمسی,بازگشایی,بالاترین,پایین‌ترین,آخرین معامله,قیمت تعدیلی,پایانی,میزان تغییر,درصد تغییر,...,ارزش معاملات,سهام شناور,P/E-ttm,P/B,P/S,قدرت خرید حقیقی,درصد خالص حقیقی,خالص حقیقی,سرانه خرید حقیقی,سرانه فروش حقیقی
0,2013-09-01,1392-06-10,3525,3621,3525,3621,87.478786,3570.0,139,0.03992,...,20080940943,-,5.29698,2.10345,1.597699,0.697659,-,2552996702,36913498,52943292
1,2013-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-09-03,1392-06-12,3696,3696,3550,3552,85.811833,3595.0,-18,-0.005042,...,16608868843,-,5.196044,2.063367,1.567254,0.553946,-,-2861705524,26219239,47450298
3,2013-09-04,1392-06-13,3480,3480,3452,3452,83.395959,3567.0,-143,-0.039777,...,5351076652,-,5.049759,2.005277,1.523131,0.16617,-,-872749600,31756288,191085223
4,2013-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2023-08-27,1402-06-05,5340,5580,5270,5520,5520,5500.0,300,0.057471,...,1282123166740,0.35,5.969718,2.407878,2.514265,1.300384,0.077192,98986250000,314144582,241578309
3648,2023-08-28,1402-06-06,5590,5690,5480,5550,5550,5580.0,50,0.009091,...,929474239300,0.35,6.002162,2.420964,2.52793,0.915536,-0.111019,-103152661200,230548351,251817876
3649,2023-08-29,1402-06-07,5630,5730,5520,5530,5530,5610.0,-50,-0.008961,...,739763385740,0.35,5.980532,2.41224,2.51882,0.889393,-0.12791,-94632335490,221670048,249237584
3650,2023-08-30,1402-06-08,5510,5730,5510,5610,5610,5620.0,-,-,...,708472236280,0.35,6.06705,2.447137,2.555259,1.231927,-0.146505,-103706371420,225026213,182661907
3651,2023-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.replace(to_replace='-', value=np.nan, inplace=True)

In [12]:
df

,Date,تاریخ شمسی,بازگشایی,بالاترین,پایین‌ترین,آخرین معامله,قیمت تعدیلی,پایانی,میزان تغییر,درصد تغییر,...,ارزش معاملات,سهام شناور,P/E-ttm,P/B,P/S,قدرت خرید حقیقی,درصد خالص حقیقی,خالص حقیقی,سرانه خرید حقیقی,سرانه فروش حقیقی
0,2013-09-01,1392-06-10,3525.0,3621.0,3525.0,3621.0,87.478786,3570.0,139.0,0.039920,...,2.008094e+10,NaN,5.296980,2.103450,1.597699,0.697659,NaN,2.552997e+09,36913498.0,52943292.0
1,2013-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-09-03,1392-06-12,3696.0,3696.0,3550.0,3552.0,85.811833,3595.0,-18.0,-0.005042,...,1.660887e+10,NaN,5.196044,2.063367,1.567254,0.553946,NaN,-2.861706e+09,26219239.0,47450298.0
3,2013-09-04,1392-06-13,3480.0,3480.0,3452.0,3452.0,83.395959,3567.0,-143.0,-0.039777,...,5.351077e+09,NaN,5.049759,2.005277,1.523131,0.166170,NaN,-8.727496e+08,31756288.0,191085223.0
4,2013-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2023-08-27,1402-06-05,5340.0,5580.0,5270.0,5520.0,5520.000000,5500.0,300.0,0.057471,...,1.282123e+12,0.35,5.969718,2.407878,2.514265,1.300384,0.077192,9.898625e+10,314144582.0,241578309.0
3648,2023-08-28,1402-06-06,5590.0,5690.0,5480.0,5550.0,5550.000000,5580.0,50.0,0.009091,...,9.294742e+11,0.35,6.002162,2.420964,2.527930,0.915536,-0.111019,-1.031527e+11,230548351.0,251817876.0
3649,2023-08-29,1402-06-07,5630.0,5730.0,5520.0,5530.0,5530.000000,5610.0,-50.0,-0.008961,...,7.397634e+11,0.35,5.980532,2.412240,2.518820,0.889393,-0.127910,-9.463234e+10,221670048.0,249237584.0
3650,2023-08-30,1402-06-08,5510.0,5730.0,5510.0,5610.0,5610.000000,5620.0,NaN,NaN,...,7.084722e+11,0.35,6.067050,2.447137,2.555259,1.231927,-0.146505,-1.037064e+11,225026213.0,182661907.0
3651,2023-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
def clean_data(df):
    # Replace gaps forward from the previous valid value in: 'بازگشایی', 'بالاترین' and 19 other columns
    df = df.fillna({'بازگشایی': df['بازگشایی'].ffill(), 'بالاترین': df['بالاترین'].ffill(), 'پایین\u200cترین': df['پایین\u200cترین'].ffill(), 'آخرین معامله': df['آخرین معامله'].ffill(), 'قیمت تعدیلی': df['قیمت تعدیلی'].ffill(), 'پایانی': df['پایانی'].ffill(), 'میزان تغییر': df['میزان تغییر'].ffill(), 'درصد تغییر': df['درصد تغییر'].ffill(), 'ارزش بازار': df['ارزش بازار'].ffill(), 'تعداد معاملات': df['تعداد معاملات'].ffill(), 'حجم': df['حجم'].ffill(), 'ارزش معاملات': df['ارزش معاملات'].ffill(), 'سهام شناور': df['سهام شناور'].ffill(), 'P/E-ttm': df['P/E-ttm'].ffill(), 'P/B': df['P/B'].ffill(), 'P/S': df['P/S'].ffill(), 'قدرت خرید حقیقی': df['قدرت خرید حقیقی'].ffill(), 'درصد خالص حقیقی': df['درصد خالص حقیقی'].ffill(), 'خالص حقیقی': df['خالص حقیقی'].ffill(), 'سرانه خرید حقیقی': df['سرانه خرید حقیقی'].ffill(), 'سرانه فروش حقیقی': df['سرانه فروش حقیقی'].ffill()})
    # Replace missing values with 0 in columns: 'بازگشایی', 'بالاترین' and 19 other columns
    df = df.fillna({'بازگشایی': 0, 'بالاترین': 0, 'پایین\u200cترین': 0, 'آخرین معامله': 0, 'قیمت تعدیلی': 0, 'پایانی': 0, 'میزان تغییر': 0, 'درصد تغییر': 0, 'ارزش بازار': 0, 'تعداد معاملات': 0, 'حجم': 0, 'ارزش معاملات': 0, 'سهام شناور': 0, 'P/E-ttm': 0, 'P/B': 0, 'P/S': 0, 'قدرت خرید حقیقی': 0, 'درصد خالص حقیقی': 0, 'خالص حقیقی': 0, 'سرانه خرید حقیقی': 0, 'سرانه فروش حقیقی': 0})
    # Change column type to datetime64[ns] for column: 'Date'
    df = df.astype({'Date': 'datetime64[ns]'})
    # Change column type to string for column: 'تاریخ شمسی'
    df = df.astype({'تاریخ شمسی': 'string'})
    # Change column type to int64 for columns: 'بازگشایی', 'بالاترین' and 11 other columns
    df = df.astype({'بازگشایی': 'int64', 'بالاترین': 'int64', 'پایین\u200cترین': 'int64', 'آخرین معامله': 'int64', 'قیمت تعدیلی': 'int64', 'پایانی': 'int64', 'ارزش بازار': 'int64', 'تعداد معاملات': 'int64', 'حجم': 'int64', 'ارزش معاملات': 'int64', 'خالص حقیقی': 'int64', 'سرانه خرید حقیقی': 'int64', 'سرانه فروش حقیقی': 'int64'})
    # Change column type to int64 for column: 'میزان تغییر'
    df = df.astype({'میزان تغییر': 'int64'})
    # Change column type to float64 for columns: 'درصد تغییر', 'سهام شناور' and 5 other columns
    df = df.astype({'درصد تغییر': 'float64', 'سهام شناور': 'float64', 'P/E-ttm': 'float64', 'P/B': 'float64', 'P/S': 'float64', 'قدرت خرید حقیقی': 'float64', 'درصد خالص حقیقی': 'float64'})
    return df

df_clean = clean_data(df.copy())
df_clean.head()

,Date,تاریخ شمسی,بازگشایی,بالاترین,پایین‌ترین,آخرین معامله,قیمت تعدیلی,پایانی,میزان تغییر,درصد تغییر,...,ارزش معاملات,سهام شناور,P/E-ttm,P/B,P/S,قدرت خرید حقیقی,درصد خالص حقیقی,خالص حقیقی,سرانه خرید حقیقی,سرانه فروش حقیقی
0,2013-09-01,1392-06-10,3525,3621,3525,3621,87,3570,139,0.039920,...,20080940943,0.0,5.296980,2.103450,1.597699,0.697659,0.0,2552996702,36913498,52943292
1,2013-09-02,<NA>,3525,3621,3525,3621,87,3570,139,0.039920,...,20080940943,0.0,5.296980,2.103450,1.597699,0.697659,0.0,2552996702,36913498,52943292
2,2013-09-03,1392-06-12,3696,3696,3550,3552,85,3595,-18,-0.005042,...,16608868843,0.0,5.196044,2.063367,1.567254,0.553946,0.0,-2861705524,26219239,47450298
3,2013-09-04,1392-06-13,3480,3480,3452,3452,83,3567,-143,-0.039777,...,5351076652,0.0,5.049759,2.005277,1.523131,0.166170,0.0,-872749600,31756288,191085223
4,2013-09-05,<NA>,3480,3480,3452,3452,83,3567,-143,-0.039777,...,5351076652,0.0,5.049759,2.005277,1.523131,0.166170,0.0,-872749600,31756288,191085223

In [28]:
dates = pd.DataFrame(pd.read_excel('./تاریخ.xlsx'))

In [29]:
dates

           Date تاریخ شمسی
0    2013-09-01  1392/6/10
1    2013-09-02  1392/6/11
2    2013-09-03  1392/6/12
3    2013-09-04  1392/6/13
4    2013-09-05  1392/6/14
...         ...        ...
3647 2023-08-27   1402/6/5
3648 2023-08-28   1402/6/6
3649 2023-08-29   1402/6/7
3650 2023-08-30   1402/6/8
3651 2023-08-31   1402/6/9

[3652 rows x 2 columns]

In [30]:
df_clean['تاریخ شمسی'] = dates['تاریخ شمسی']

In [31]:
df_clean

,Date,تاریخ شمسی,بازگشایی,بالاترین,پایین‌ترین,آخرین معامله,قیمت تعدیلی,پایانی,میزان تغییر,درصد تغییر,...,ارزش معاملات,سهام شناور,P/E-ttm,P/B,P/S,قدرت خرید حقیقی,درصد خالص حقیقی,خالص حقیقی,سرانه خرید حقیقی,سرانه فروش حقیقی
0,2013-09-01,1392/6/10,3525,3621,3525,3621,87,3570,139,0.039920,...,20080940943,0.00,5.296980,2.103450,1.597699,0.697659,0.000000,2552996702,36913498,52943292
1,2013-09-02,1392/6/11,3525,3621,3525,3621,87,3570,139,0.039920,...,20080940943,0.00,5.296980,2.103450,1.597699,0.697659,0.000000,2552996702,36913498,52943292
2,2013-09-03,1392/6/12,3696,3696,3550,3552,85,3595,-18,-0.005042,...,16608868843,0.00,5.196044,2.063367,1.567254,0.553946,0.000000,-2861705524,26219239,47450298
3,2013-09-04,1392/6/13,3480,3480,3452,3452,83,3567,-143,-0.039777,...,5351076652,0.00,5.049759,2.005277,1.523131,0.166170,0.000000,-872749600,31756288,191085223
4,2013-09-05,1392/6/14,3480,3480,3452,3452,83,3567,-143,-0.039777,...,5351076652,0.00,5.049759,2.005277,1.523131,0.166170,0.000000,-872749600,31756288,191085223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2023-08-27,1402/6/5,5340,5580,5270,5520,5520,5500,300,0.057471,...,1282123166740,0.35,5.969718,2.407878,2.514265,1.300384,0.077192,98986250000,314144582,241578309
3648,2023-08-28,1402/6/6,5590,5690,5480,5550,5550,5580,50,0.009091,...,929474239300,0.35,6.002162,2.420964,2.527930,0.915536,-0.111019,-103152661200,230548351,251817876
3649,2023-08-29,1402/6/7,5630,5730,5520,5530,5530,5610,-50,-0.008961,...,739763385740,0.35,5.980532,2.412240,2.518820,0.889393,-0.127910,-94632335490,221670048,249237584
3650,2023-08-30,1402/6/8,5510,5730,5510,5610,5610,5620,-50,-0.008961,...,708472236280,0.35,6.067050,2.447137,2.555259,1.231927,-0.146505,-103706371420,225026213,182661907
3651,2023-08-31,1402/6/9,5510,5730,5510,5610,5610,5620,-50,-0.008961,...,708472236280,0.35,6.067050,2.447137,2.555259,1.231927,-0.146505,-103706371420,225026213,182661907

In [34]:
columns_to_exclude = ['Date', 'تاریخ شمسی']
selected_columns = df_clean.columns.difference(columns_to_exclude).tolist()
for column in selected_columns:
    df_clean.rename(columns={column: f'{column}*سهم*'}, inplace=True)


df_clean.head()

,Date,تاریخ شمسی,بازگشایی*سهم*,بالاترین*سهم*,پایین‌ترین*سهم*,آخرین معامله*سهم*,قیمت تعدیلی*سهم*,پایانی*سهم*,میزان تغییر*سهم*,درصد تغییر*سهم*,...,ارزش معاملات*سهم*,سهام شناور*سهم*,P/E-ttm*سهم*,P/B*سهم*,P/S*سهم*,قدرت خرید حقیقی*سهم*,درصد خالص حقیقی*سهم*,خالص حقیقی*سهم*,سرانه خرید حقیقی*سهم*,سرانه فروش حقیقی*سهم*
0,2013-09-01,1392/6/10,3525,3621,3525,3621,87,3570,139,0.039920,...,20080940943,0.0,5.296980,2.103450,1.597699,0.697659,0.0,2552996702,36913498,52943292
1,2013-09-02,1392/6/11,3525,3621,3525,3621,87,3570,139,0.039920,...,20080940943,0.0,5.296980,2.103450,1.597699,0.697659,0.0,2552996702,36913498,52943292
2,2013-09-03,1392/6/12,3696,3696,3550,3552,85,3595,-18,-0.005042,...,16608868843,0.0,5.196044,2.063367,1.567254,0.553946,0.0,-2861705524,26219239,47450298
3,2013-09-04,1392/6/13,3480,3480,3452,3452,83,3567,-143,-0.039777,...,5351076652,0.0,5.049759,2.005277,1.523131,0.166170,0.0,-872749600,31756288,191085223
4,2013-09-05,1392/6/14,3480,3480,3452,3452,83,3567,-143,-0.039777,...,5351076652,0.0,5.049759,2.005277,1.523131,0.166170,0.0,-872749600,31756288,191085223

In [36]:
import os
folder_path = './historical_price'

file_name_list = os.listdir(folder_path)

for file_name in file_name_list :
    print(file_name)

کنور.xlsx
فولاژ.xlsx
شنفت.xlsx
شیراز.xlsx
فخاس.xlsx
کویر.xlsx
مارون.xlsx
شرانول.xlsx
کگل.xlsx
کرماشا.xlsx
خساپا.xlsx
فباهنر.xlsx
شبریز.xlsx
خراسان.xlsx
فملی.xlsx
خودرو.xlsx
شاراک.xlsx
زاگرس.xlsx
فاسمین.xlsx
ارفع.xlsx
شپنا.xlsx
خپارس.xlsx
فخوز.xlsx
شفن.xlsx
فولاد.xlsx
شاوان.xlsx
ذوب.xlsx
فایرا.xlsx
شبندر.xlsx
شخارک.xlsx
شگویا.xlsx
شبهرن.xlsx
شکبیر.xlsx
کچاد.xlsx
شیران.xlsx
شتران.xlsx
جم.xlsx
خزامیاد.xlsx
شراز.xlsx
شپدیس.xlsx